.t-shirt{
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
    
}

.t-shirt img{
    height: 250px;
    width: 100%;
   
}
.btn-buy{
    width: 100px;
    height: 33px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
}